<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Redirect Legacy e_Borrow Login -->
                <rule name="RedirectLegacyLogin" stopProcessing="true">
                    <match url="^archive/e_Borrow/login\.php$" />
                    <action type="Redirect" url="e_Borrow/login.php" redirectType="Permanent" />
                </rule>
                
                <!-- Force HTTPS -->
                <rule name="ForceHTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors errorMode="DetailedLocalOnly">
            <remove statusCode="404" />
            <error statusCode="404" path="/e-campaignv2/errors/404.php" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
